.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  & .logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--White);
    margin: 0;
    margin-bottom: 20px;
  }
}
.footer-web {
  color: var(--accent-color);
}
.footer-container {
  display: flex;
  flex-direction: column;
}
.footer-contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.footer-list__link {
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--White);
}
.footer-list__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-contact {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-func);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-join {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.footer-join__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--White);
  margin-bottom: 20px;
}
.footer-social-menu {
  display: flex;
}
.footer-social-menu__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-func);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}
.footer-social-menu__icon {
  width: 20px;
  height: 20px;
  fill: var(--White);
}
.footer-form {
  display: flex;
  flex-direction: column;
}
.footer-form__label {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--White);
}
.footer-form__input {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  &:focus {
    border: 1px solid #2196f3;
    border-color: var(--accent-color);
    outline: none;
  }
}
.footer-form__btn-wrapper {
  display: flex;
  justify-content: center;
}
.footer-form__btn-send {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  letter-spacing: 0.06em;
  color: var(--White);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  fill: var(--White);
  transition-property: color, background-color;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-func);

  &:hover,
  &:focus {
    outline: none;
    background-color: #188ce8;
    color: var(--White);
  }
}
.btn-send__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-form {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
.footer-container {
  justify-content: flex-start;
}
.footer {
  & .logo {
    font-size: 26px;
    line-height: 31px;
  }
  .footer-list__item:not(:last-child) {
    margin-bottom: 9px;
}
}
.footer-contact-section {
  display: flex;
  align-items: flex-start;
  margin-right: 70px;
  width: 231px;
}
.footer-list {
  align-items: flex-start;
  margin-bottom: 0;
}
.footer-join {
  align-items: flex-start;
  margin-right: 93px;
  margin-bottom: 0;
}
.footer-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 570px;
}
.footer-form__label {
  justify-content: flex-start;
  width: 100%;
}
.footer-form__input {
  width: 358px;
  margin-right: 12px;
  margin-bottom: 0;
}
}