.hero {
  display: flex;
  justify-content: center;
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/mobile/mobile-header.jpg);
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/mobile/mobile-header@2x.jpg);
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title {
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--White);
}
.hero__button {
  padding: 10px 24px;
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--White);

  transition-property: color, background-color;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-func);
  &:focus {
    background-color: #188ce8;
    color: var(--White);
  }
}
// 768px +
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/tablet/tablet-header.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/tablet/tablet-header@2x.jpg);
  }
}
// 1200 +
@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/desktop/desktop-header.jpg);
  }
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
  .hero__button {
    padding: 10px 32px;
    transition-property: color, background-color;
    transition-duration: var(--trans-dur);
    transition-timing-function: var(--trans-tim-func);
    &:hover {
      background-color: #188ce8;
      color: var(--White);
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../img/desktop/desktop-header@2x.jpg);
  }
}
