.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: 100%;
  min-height: 609px;
  background-color: var(--White);
  margin: auto;
}
.modal-window__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: fill;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-func);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.modal-form__wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal-form__text-label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
.modal-form__input {
  font-size: 16px;
  color: #000000;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-func);
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}
.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-func);
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}
.modal-form__comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-property: border-color;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-func);
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-form__fild {
  line-height: 0;
  margin-bottom: 20px;
}
.modal-form__checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 30px;
}
.modal-form__check-box {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../img/checkbox.svg);
  transition: background-image;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-func);
  .modal-form__input-checkbox:checked + & {
    background-image: url(../img/check.svg);
  }
}
.modal-form__user-policy {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}
.modal-form__submit-button {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--White);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-func);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
@media screen and (min-width: 480px) {
  .modal-window {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
  .modal-form__text {
    line-height: 23px;
  }
  .modal-form__checkbox {
    justify-content: center;
    font-size: 14px;
    line-height: 24px;
  }
  .modal-form__user-policy {
    font-size: 14px;
    line-height: 24px;
  }
}
