.team-fon {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__item {
  flex-basis: calc((100% - 90px) / 4);
  background: var(--White);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--White);
  fill: var(--main-fill-icon);

  transition-property: fill, background-color;
  transition-duration: var(--trans-dur);
  transition-timing-function: var(--trans-tim-func);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--White);
  }
}
